<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>Node.js-App</title>
</head>
<body>
	<center>
		<div id="nav-bar">
			<a href="http://localhost:8080/">home</a>
			<a href="http://localhost:8080/user">users</a>
		</div>
	</center>
	<h1>Users</h1>
        <div class="user_object">
            <ul>
                <br>
                <li>ID: <%= userData.id %></li>
                <li>Name: <%= userData.name %></li>
                <li>E-Mail:<%= userData.email %></li>
                <li>Password: <%= userData.password%></li>
                <li>Create Time: <%= userData.createTime%></li>
                <br>
            <ul>
        </div>
</body>
</html>